<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:hedgehog="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eight.collection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.COLLECTION"
        tools:replace="android:theme"
        >
        <activity
        android:name=".ui.splash.SplashActivity"
        android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.login.LoginFirstActivity"
            android:exported="true">
        </activity>


        <activity
            android:name=".ui.login.LoginSecondActivity"
            android:exported="true">


        </activity>

        <activity
            android:name=".ui.signup.SignupFirstActivity"
            android:exported="true"/>

        <activity
            android:name=".ui.signup.SignupSecondActivity"
            android:exported="true"/>

        <activity
            android:name=".ui.signup.SignupThirdActivity"
            android:exported="true"/>

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
        </activity>

        <activity android:name=".ui.writing.first.WritefirstActivity"
            android:theme="@style/Transparent"/>

        <activity android:name=".ui.writing.second.WritesecondActivity"
            android:theme="@style/Transparent"/>

        <activity android:name=".ui.main.setting.SettingActivity"
            android:exported="true">

        </activity>

        <activity android:name=".ui.main.setting.infoedit.nickname.NickNameEditActivity"/>

        <activity android:name=".ui.main.setting.infoedit.phonenumber.PhoneNumberEditActivity"/>

        <activity android:name=".ui.main.setting.infoedit.password.PwEditActivity"/>

        <activity android:name=".ui.main.setting.infoedit.account.AccountDeleteActivity"/>

        <activity android:name=".ui.main.setting.infoedit.account.AccountDeleteSecondActivity"/>

        <activity android:name=".ui.main.setting.privacy.PrivacyRule"/>

        <activity android:name=".ui.main.setting.infoedit.InfoEditActivity"/>

        <activity
            android:name=".ui.finish.FinishActivity"
            android:theme="@style/Transparent"
            android:exported="true">


        </activity>

    </application>

</manifest>