<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:hedgehog="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.COLLECTION"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <receiver android:name=".utils.SMSReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
                 <!--<intent-filter>
                 <action android:name="android.intent.action.MAIN" />


                 <category android:name="android.intent.category.LAUNCHER" />
                 </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.login.LoginFirstActivity"
            android:exported="true">
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginSecondActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.signup.SignupFirstActivity"
            android:exported="true" />
        <activity
            android:name=".ui.signup.SignupSecondActivity"
            android:exported="true" />
        <activity
            android:name=".ui.signup.SignupThirdActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.IdFindFirstActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.login.IdFindSecondActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.login.PwFindFirstActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->


<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        </activity>
        <activity
            android:name=".ui.login.PwFindSecondActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.introduce.IntroduceDialog"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.writing.first.WritefirstActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.writing.second.WritesecondActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.main.setting.SettingActivity"
            android:exported="true"></activity>
        <activity android:name=".ui.main.setting.infoedit.nickname.NickNameEditActivity" />
        <activity
            android:name=".ui.main.setting.infoedit.phonenumber.PhoneNumberEditActivity"
            android:exported="true"></activity>
        <activity android:name=".ui.main.setting.infoedit.password.PwEditActivity" />
        <activity android:name=".ui.main.setting.infoedit.account.AccountDeleteActivity" />
        <activity android:name=".ui.main.setting.infoedit.account.AccountDeleteSecondActivity" />
        <activity android:name=".ui.main.setting.privacy.PrivacyRuleActivity" />
        <activity android:name=".ui.main.setting.infoedit.InfoEditActivity" />
        <activity android:name=".ui.main.setting.mail.MailActivity" />
        <activity android:name=".ui.main.setting.developerinfo.DeveloperInfoActivity" />
        <activity android:name=".ui.main.mylook.MyLookActivity" />
        <activity android:name=".ui.main.mylook.MyLookDetailActivity" />
        <activity android:name=".ui.main.match.place.PlaceActivity" />
        <activity
            android:name=".ui.main.match.who.WhoActivity"
            android:exported="true"></activity>
        <activity android:name=".ui.main.match.color.ColorActivity" />
        <activity android:name=".ui.main.match.color.ColorSearchActivity"
            android:theme="@style/Transparent" />

        <activity android:name=".ui.main.match.weather.WeatherActivity" />
        <activity
            android:name=".ui.finish.PhotoActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.finish.FinishActivity"
            android:exported="true"
            android:theme="@style/Transparent"></activity>
    </application>

</manifest>